{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Your API Key
      </h1>

      <code class="code code-large">{{ uUid }}</code>

      <div class="notice">
        <i class="icon icon-important">
          <span class="visually-hidden">Warning</span>
        </i>
        <strong class="bold-small">
          You must copy your API Key now. You will not be able to see if again once you leave this page
        </strong>
      </div>

      <p><a href="#">Back to register collection</a></p>

    </div>
  </div>
</main>

{% endblock %}
